<div class="page">
    <div class="page-main">

        

      

        <!--app-content open-->
        <div class="app-content main-content mt-0">
            <div class="side-app">

                <!-- CONTAINER -->
                <div class="main-container container-fluid">

                        
                    <!-- PAGE-HEADER -->
                    <div class="page-header">
                        <div>
                            <h1 class="page-title">homepage</h1>
                        </div>
                        <div class="ms-auto pageheader-btn">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Home Page</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Offer Product</li>
                            </ol>
                        </div>
                    </div>
                    <!-- PAGE-HEADER END -->

                   
                   

                   

                    <!-- row -->
                    <div class="row">
                       
                        <div class="col-lg-6 col-md-6">
                            <div class="card">
                                <div class="card-header border-bottom">
                                    <h3 class="card-title">Home Page offer products </h3>
                                </div>
                                <div class="card-body">
                                    <p class="text-muted"></p>
                                    <a href="#" class="btn btn-primary" data-bs-target="#modaldemo11" data-bs-toggle="modal">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /row -->
    <!-- Row -->
    
    <div class="row">
        <div class="row row-sm">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header border-bottom">
                        <h3 class="card-title">Hoame Page Banner Datatable</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="editable-responsive-table" class="table editable-table table-nowrap table-bordered table-edit wp-100">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Heading</th>
                                        <th>Image</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  
                                
                                    <tr>
                                       
                                            <td>1</td>
                                            <td>heaaaad</td>
                                            <td>image</td>
                                            <td><button class="btn-primary">edit</button><button class="btn-danger">delete</button> </td>
                                                
                                                
                                                
                                           
                                     
                                    </tr>
                                    
                                    
                                    
                                  
                                            <a class="btn btn-primary fs-14 text-white edit-icn" title="Edit">
                                                <i class="fe fe-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->
       
        

                    
                </div>
            </div>
        </div>
            <!-- CONTAINER CLOSED -->


            <div id="modaldemo11" class="modal fade">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form action="#" method="POST" enctype="multipart/form-data" >
                        <div class="modal-body">
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                           
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Offer Product Heading" name="offprohead" id="offprohead" required>
                            </div>
                            <div class="form-group">
                                <textarea type="text" class="form-control" placeholder="Offer Product description" name="offprodescription" id="offprodescription" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Offer Product Image"  id="formFileLg" name="offproimage" type="file" required>
                            </div>
                           
                            
                            <button class="btn btn-primary btn-block mt-5" type="submit">Continue</button>
                        </div>
                    </form><!-- modal-body -->
                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div><!--Add modal close -->



    
 
    </div>
</div>

  