
       <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/services-one-bg.jpg)">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="/">Home</a></li>
                        <li><span>/</span></li>
                        <li>About</li>
                    </ul>
                    <h2>About</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->
<!--About Two Start-->
<% if (abouts) { %>
    <section class="about-two">
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <div class="about-two__left">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">get to know us</span>
                            <h2 class="section-title__title">We Make Difference in Your Life</h2>
                            <div class="section-title__line"></div>
                        </div>
                       
                        <p class="about-two__text-2">wahatalbaraka is a well-recognized name in the hospitality industry in UAE. Currently we are present in UAE. wahatalbaraka is very popular among its customers, and we owe this success to our relentless drive to maintain high quality, and our passion for customer satisfaction. wahatalbaraka is synonymous with the sweet, Dhoda, which is made using a special benchmarked recipe that has been passed down generations..</p>
                        <div class="about-two__points-box">
                            <div class="about-two__points-left">
                                <ul class="list-unstyled about-two__points">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-confirmation"></span>
                                        </div>
                                        <div class="text">
                                            <p>Vision</p>
                                        </div>
                                    </li>
                                </ul>
                                <p class="about-two__points-text">wahatalbaraka Sweets inspires and innovates with a unique & wide range of sweets.
                                </p>
                            </div>
                            <div class="about-two__points-right">
                                <ul class="list-unstyled about-two__points">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-confirmation"></span>
                                        </div>
                                        <div class="text">
                                            <p>Mission</p>
                                        </div>
                                    </li>
                                </ul>
                                <p class="about-two__points-text">o build a leading international company passionate about sweets with the drive to grow and develop  
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-xl-7">
                    <div class="about-two__right">
                        <div class="about-two__img-box wow slideInRight" data-wow-delay="100ms"
                            data-wow-duration="2500ms">
    
                            <% if (abouts && abouts.length > 0 && abouts[0].aboutimage) { %>
                            <div class="about-two__img-1">
                                <img src="<%= abouts[0].aboutimage %>" alt="">
                            </div>
                            <% } else { %>
                                <div class="about-two__img-1">
                                    <img src="assets/images/services/services-1-2.jpg" alt="">
                                </div>
                            <% } %>

                            <% if (abouts && abouts.length > 1 && abouts[1].aboutimage) { %>
                                <div class="about-two__img-2">
                                    <img src="<%= abouts[1].aboutimage %>" alt="">
                                </div>
                                <% } else { %>
                                    <div class="about-two__img-2">
                                        <img src="assets/images/services/services-1-3.jpg" alt="">
                                    </div>
                                <% } %>
                            
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% } %>
    <!--About Two End-->
    



        

        <!--Leading Start-->
        <section class="leading">
            <div class="leading-bg-box">
                <div class="leading-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
                    style="background-image: url(assets/images/backgrounds/2.jpg);"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-6">
                        <div class="leading__left">
                            <div class="leading__video-link">
                                
                            </div>
                            <h3 class="leading__title">Buy your fav <br> Candies</h3>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6">
                        <div class="leading__right">
                            <ul class="list-unstyled leading__points">
                                <li>
                                    <div class="icon">
                                        <span class="fa fa-check"></span>
                                    </div>
                                    <div class="text">
                                        <p>It tastes like fresh and real</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="fa fa-check"></span>
                                    </div>
                                    <div class="text">
                                        <p>Make the atmosphere fun and lively.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="fa fa-check"></span>
                                    </div>
                                    <div class="text">
                                        <p>Available in red and black colours.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="fa fa-check"></span>
                                    </div>
                                    <div class="text">
                                        <p>Best consumable before 2 months</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Leading End-->

        

        <!--Newsletter Start-->
        <section class="newsletter">
            <div class="container">
                <div class="newsletter__inner wow fadeInUp" data-wow-delay="100ms">
                    <div class="newsletter-shape-1"
                        style="background-image: url(assets/images/shapes/newsletter-shape-1.png);"></div>
                    <div class="newsletter__left">
                        <h3 class="newsletter__title">Join Our Newsletter</h3>
                        <p class="newsletter__text">Lorem ipsum dolor amet, elit do eiusmod sed</p>
                    </div>
                    <div class="newsletter__right">
                        <form class="newsletter__form">
                            <div class="newsletter__input-box">
                                <input type="email" placeholder="Enter your email" name="email">
                                <button type="submit" class="thm-btn newsletter__btn">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--Newsletter End-->