
        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/1.jpg)">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="/">Home</a></li>
                        <li><span>/</span></li>
                        <li>Gallery</li>
                    </ul>
                    <h2>Gallery</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Gallery Page Start-->
        <% if (gallerys) { %>
            <section class="gallery-page">
                <div class="container">
                    <div class="row">
                        <% for (var i = 0; i < gallerys.length; i++) { %>
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <!--Gallery Page Single-->
                            <div class="gallery-page__single">
                                <div class="gallery-page__img">
                                    <img src="<%= gallerys[i].sweetproimage %>" alt="">
                                    <div class="gallery-page__icon">
                                        <a class="img-popup" href="<%= gallerys[i].sweetproimage %>"><span class="icon-plus-symbol"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% if ((i + 1) % 3 === 0 && i !== 0) { %>
                        </div>
                        <div class="row">
                        <% } %>
                        <% } %>
                    </div>
                </div>
            </section>
            <% } %>
            
        <!--Gallery Page End-->


        <!--Newsletter Start-->
        <section class="newsletter">
            <div class="container">
                <div class="newsletter__inner wow fadeInUp" data-wow-delay="100ms">
                    <div class="newsletter-shape-1"
                        style="background-image: url(assets/images/shapes/newsletter-shape-1.png);"></div>
                    <div class="newsletter__left">
                        <h3 class="newsletter__title">Join Our Newsletter</h3>
                        <p class="newsletter__text">Lorem ipsum dolor amet, elit do eiusmod sed</p>
                    </div>
                    <div class="newsletter__right">
                        <form class="newsletter__form">
                            <div class="newsletter__input-box">
                                <input type="email" placeholder="Enter your email" name="email">
                                <button type="submit" class="thm-btn newsletter__btn">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--Newsletter End-->