
        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/1.jpg)">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><span>/</span></li>
                        <li>Gallery</li>
                    </ul>
                    <h2>Gallery</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Gallery Page Start-->
        <section class="gallery-page">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Gallery Page Single-->
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="assets/images/project/1.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="assets/images/project/1.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Gallery Page Single-->
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="assets/images/project/2.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="assets/images/project/2.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Gallery Page Single-->
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="assets/images/project/3.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="assets/images/project/3.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Gallery Page Single-->
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="assets/images/project/4.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="assets/images/project/4.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Gallery Page Single-->
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="assets/images/project/5.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="assets/images/project/5.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Gallery Page Single-->
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="assets/images/project/6.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="assets/images/project/6.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Gallery Page Single-->
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="assets/images/project/7.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="assets/images/project/7.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Gallery Page Single-->
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="assets/images/project/8.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="assets/images/project/8.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Gallery Page Single-->
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="assets/images/project/9.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="assets/images/project/9.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Gallery Page Single-->
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="assets/images/project/10.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="assets/images/project/10.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Gallery Page Single-->
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="assets/images/project/project-3-1.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="assets/images/project/project-3-1.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Gallery Page Single-->
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="assets/images/project/project-3-2.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="assets/images/project/project-3-2.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Gallery Page Single-->
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="assets/images/project/project-3-3.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="assets/images/project/project-3-3.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Gallery Page Single-->
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="assets/images/project/project-3-4.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="assets/images/project/project-3-4.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Gallery Page Single-->
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="assets/images/project/project-3-1.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="assets/images/project/project-3-1.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Gallery Page Single-->
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="assets/images/project/project-3-2.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="assets/images/project/project-3-2.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Gallery Page Single-->
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="assets/images/project/project-3-3.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="assets/images/project/project-3-3.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Gallery Page Single-->
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="assets/images/project/project-3-4.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="assets/images/project/project-3-4.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Gallery Page Single-->
                        <div class="gallery-page__single">
                            <div class="gallery-page__img">
                                <img src="assets/images/project/project-3-1.jpg" alt="">
                                <div class="gallery-page__icon">
                                    <a class="img-popup" href="assets/images/project/project-3-1.jpg"><span
                                            class="icon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Gallery Page End-->


        <!--Newsletter Start-->
        <section class="newsletter">
            <div class="container">
                <div class="newsletter__inner wow fadeInUp" data-wow-delay="100ms">
                    <div class="newsletter-shape-1"
                        style="background-image: url(assets/images/shapes/newsletter-shape-1.png);"></div>
                    <div class="newsletter__left">
                        <h3 class="newsletter__title">Join Our Newsletter</h3>
                        <p class="newsletter__text">Lorem ipsum dolor amet, elit do eiusmod sed</p>
                    </div>
                    <div class="newsletter__right">
                        <form class="newsletter__form">
                            <div class="newsletter__input-box">
                                <input type="email" placeholder="Enter your email" name="email">
                                <button type="submit" class="thm-btn newsletter__btn">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--Newsletter End-->