        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="/">Home</a></li>
                        <li><span>/</span></li>
                        <li>Gifting</li>
                    </ul>
                    <h2>Gifting</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Services Page Start-->
        <% if(giftings) { %>
            <section class="services-page">
                <div class="container">
                    <div class="row">
                        <!--Services One Single-->
                        <% for (var i = 0; i < giftings.length; i++) { %>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="services-one__single wow fadeInUp" data-wow-delay="100ms">
                                <div class="services-one__img">
                                    <img src="<%= giftings[i].giftproimage %>" alt="">
                                    <div class="services-one__icon">
                                        <span class="icon-wallpaper-3"></span>
                                    </div>
                                </div>
                                <div class="services-one__content">
                                    <h3 class="services-one__title"><a href="/gifting"><%= giftings[i].giftprohead %></a></h3>
                                    <p class="services-one__text"><%= giftings[i].giftprodescription %></p>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </section>
            <% } %>
            
        <!--Services Page End-->


        <!--Newsletter Start-->
        <section class="newsletter">
            <div class="container">
                <div class="newsletter__inner wow fadeInUp" data-wow-delay="100ms">
                    <div class="newsletter-shape-1"
                        style="background-image: url(assets/images/shapes/newsletter-shape-1.png);"></div>
                    <div class="newsletter__left">
                        <h3 class="newsletter__title">Join Our Newsletter</h3>
                        <p class="newsletter__text">Lorem ipsum dolor amet, elit do eiusmod sed</p>
                    </div>
                    <div class="newsletter__right">
                        <form class="newsletter__form">
                            <div class="newsletter__input-box">
                                <input type="email" placeholder="Enter your email" name="email">
                                <button type="submit" class="thm-btn newsletter__btn">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--Newsletter End-->